.directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2em;
  }
  .app-title {
    font-size: 45px;
    text-align: center;
}